*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 500vh;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
}


header.rolagem{
    background-color: #fff;
    padding: 20px 4%;
}

header.rolagem a{
    color: #FE775A;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 40px;
}

header ul li a{
    color:#FE775A;
    text-decoration: none;
}

.banner{
    height: 100vh;
    background-image: url('/static/img/filo.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-contato button{
    border: 0;
    background-color: #FE775A;
    color: #fff;
    cursor: pointer;
    transition: .2s;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
}

footer {
    background-color: #E28743;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rodape {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    font-family: 'Source Sans Pro', 'sans-sarif';
    color: white;
    position: fixed;
    bottom: 0;
}
